.btn-group {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 85%;
    margin: 2rem auto auto auto;
}

.card {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 85%;
    margin: 2rem auto auto auto;
    
}

.card-header, .card-footer{
    width: 100%;
}

.form-group {
    width: 30rem;
    margin: 1.5rem auto auto auto;    
    border-radius: 1rem;
}

h1 {
    width: 100%;
    text-align: center;
}


.button {
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;    
}

.checkbox {
    border-width: thin;
    border-style: solid;
    padding: .3rem;
    border-color: rgba(125, 125, 141, 0.30);
    border-radius: .3rem;
}