<div class="card text-center">
    <div class="card-header">
        <h4> Sem Autorização.</h4>
    </div>
    <div class="card-body">
        <h6 class="card-title">Que pena! <br>
            Você não possui autorização para criar novas postagens, <br>
            caso tenha interesse em contribuir postando conteúdo e compartilhando seu conhecimento, <br>
            entre em contato através do email: contato@vocemaistech.com.br
            <br>
            <br>
            Aguardamos seu contato, abraço!
        </h6>
    </div>
    <div class="card-footer text-muted"> www.vocemaistech.com.br
    </div>
</div>