<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
    <label class="btn btn-outline-primary" aria-current="page" for="btnradio1" routerLink="/minhaconta">Meus
        Dados</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
    <label class="btn btn-outline-primary" aria-current="page" for="btnradio2" routerLink="/meus-cursos" >Meus Cursos</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" checked>
    <label class="btn btn-outline-primary" for="btnradio3" routerLink="/createpostblog">Nova Postagem</label>

</div>

<div class="card text-center">
    <div class="card-header">
       <h4> Sem Autorização.</h4>
    </div>
    <div class="card-body">
        <h6 class="card-title">Que pena! <br>
            Você não possui autorização para criar novas postagens, <br>
            caso tenha interesse em contribuir postando conteúdo e compartilhando seu conhecimento, <br>
            entre em contato através do email: contato@vocemaistech.com.br
            <br>
            <br>
            Aguardamos seu contato, abraço!
        </h6>
    </div>
    <div class="card-footer text-muted"> www.vocemaistech.com.br
    </div>
</div>