.card {
    margin: 10rem auto auto auto;
    width: 40rem;
    background-color: rgba(26, 87, 243, 0.1);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    width: 100%;
    text-align: center;
}

.form-group {
    width: 30rem;
    margin: 1.5rem auto auto auto;
    border-radius: 1rem;
}

.button {
    align-items: center;
    justify-content: center;
    display: flex;
}

.cadastre-se {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: larger;
    font-weight: 700;
}

fa-icon {
    font-size: .8rem;
    margin: auto .3rem auto auto;
}