<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
    <label class="btn btn-outline-primary" aria-current="page" for="btnradio1" routerLink="/minhaconta">Meus
        Dados</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
    <label class="btn btn-outline-primary" aria-current="page" for="btnradio2">Meus Cursos</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio3" routerLink="/createpostblog">Nova Postagem</label>

</div>

<div class="card text-center">
    <div class="card-header">
       <h4> Em construção</h4>
    </div>
    <div class="card-body">
        <h6 class="card-title">Estamos desenvolvendo algo bem legal para essa área! <br>
            Em breve, aqui você encontrará informações sobre os cursos que você está fazendo, <br>
            informações do progresso de cada um, acesso a certificados e muito mais. <br>
            <br>
            
            Você não perde por esperar!
        </h6>
    </div>
    <div class="card-footer text-muted"> www.vocemaistech.com.br
    </div>
</div>