.btn-group {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50%;
    margin: 2rem auto auto auto;
}

.card {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 85%;
    margin: 2rem auto 5rem auto;
    
}

.card-header, .card-footer{
    width: 100%;
}

.form-group {    
    margin: 1.5rem auto auto auto;    
    border-radius: 1rem;
}

h1 {
    width: 100%;
    text-align: center;
}


.button {
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;    
}

.cadastre-se {
    align-items: center;
    justify-content: center;
    display: flex;  
    font-size: larger;
    font-weight: 700;
}